cmake-build-debug
CMakeLists.txt
/.vs/govnp/FileContentIndex/a1bf9b0b-6500-41cd-97f8-4c612eb754ae.vsidx
/.vs/govnp/FileContentIndex/d9bd98ab-e639-4547-805a-72aa54541407.vsidx
/.vs/govnp/FileContentIndex/eee9044a-3b66-485d-ad40-e3c7c36984ab.vsidx
/.vs/govnp/v17/.wsuo
/.vs/govnp/v17/Browse.VC.db
/.vs/govnp/v17/Browse.VC.db-shm
/.vs/govnp/v17/Browse.VC.db-wal
/.vs/govnp/v17/Browse.VC.opendb
/.vs/govnp/v17/ipch/AutoPCH/b339de976d8035e0/SMESI.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/govnp/FileContentIndex/3e50611b-fe63-4ee9-b052-0d21eb3d64a5.vsidx
/.vs/govnp/FileContentIndex/724e1a44-0eb1-4016-9490-4d9fab5775b3.vsidx
/.vs/govnp/FileContentIndex/d895d4c6-e475-4551-9d71-64890e24070b.vsidx
